################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MemberApi.Tests/bin/Debug/net10.0
